.nameEffect{
    color: #0578FF;
}
.bg-color-set{
    background-image: linear-gradient(to right top, #2d4266, #273a5d, #203355, #162745, #162a4d);
}
.card-style h4{
    color: #e6f1ff;
}
.footer-color-set{
    background-image: linear-gradient(to right top, #ccd6f6, #c3cded, #bac4e3, #b1bbda, #a8b2d1);
}

.messageStyle{
    color: rgb(23, 248, 90);
}



@media only screen and (max-width: 768px) {
    .blog-pad{
        margin-top: 20px;
    }
}